/* Basics */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: aqua;
}

.img-gallery {
	min-height: 100%;
	grid-template: repeat(3, 1fr) / repeat(6, 1fr);
	gap: 10px;
}

/* Helpers */
.grid {
	display: grid;
}

.meme-editor {
	/* height: 65vh;
	width: 55vw; */
	background-color: aqua;
}

.canvas-container {
	margin: 0 auto;
	background-color: white;
	height: 60vh;
	width: 50vw;
	border: solid black 1px;
}
