/* Basics */
* {
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: impact;
	src: url(/fonts/impact.ttf);
}
html {
	font-size: 13px;
}
body {
	/* min-width: 400px; */
	margin: 0;
	width: 100%;
	height: 100vh;
	/* max-height: 1200px; */
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-height: 185px;
}
h1 {
	color: cornflowerblue;
}

/* Header */

header {
	height: 5vh;
	background-color: cornflowerblue;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.main-header {
	justify-content: space-between;
}

.main-header .logo {
	padding-inline: 5px;
	display: flex;
	align-items: center;
}

nav {
	height: 10vh;
	width: 100%;
	justify-content: space-between;
}

.navbar {
	display: flex;
	letter-spacing: 1px;
	color: #ffffff;
	justify-content: space-between;
}

nav li {
	color: white;
	font-size: 2rem;
	width: 125px;
	height: 10vh;
	border-left: 2px dashed whitesmoke;
}

/* Search */

.search-bar {
	margin-top: 20px;
	margin-bottom: 30px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.upload-meme-label {
	font-size: 1.5rem;
	box-shadow: inset 0 -1px cornflowerblue;
	font-weight: 700;
}

.user {
	font-size: 1.5rem;
	box-shadow: inset 0 -1px cornflowerblue;
	font-weight: 700;
}

.search-bar span {
	margin-inline: 10px;
}

.search-bar input {
	border: none;
	box-shadow: inset 0 -1px black;
	font-size: 1.2rem;
}
.clear-memes-btn {
	background-color: cornflowerblue;
	font-size: 2rem;
	border-radius: 2em;
	color: whitesmoke;
}

/* .upload-meme-label {
	box-shadow: inset 0 -1px cornflowerblue;
} */

/* Gallery */
.img-gallery {
	display: grid;
	grid-template:
		1fr
		/ repeat(2, 1fr);
	gap: 10px;
}

.img-div {
	max-height: 185px;
}

.img-gallery img {
	border-radius: 8%;
}

/* Editor */
.canvas-container {
	margin-top: 20vh;
	max-width: 350px;
	min-height: 350px;
}

.brush-btn {
	position: relative;
}

.upload-input {
	position: relative;
}

.btn-input {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	position: absolute;
}

.icon img {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.meme-editor {
	height: 85vh;
	margin-bottom: 120px;
}

.meme-editor img {
	object-fit: contain;
	height: 20px;
	width: 20px;
}

.meme-editor button {
	min-height: 35px;
	min-width: 35px;
	margin-bottom: 1px;
	font-size: 1.5rem;
	background-color: cornflowerblue;
}

button a {
	height: inherit;
	width: inherit;
	cursor: pointer;
}

.meme-controls {
	width: 350px;
	max-height: 200px;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'text text text text text '
		'arrow-up arrow-down switch add-line delete-btn'
		'font-up font-down align-left align-center align-right '
		'font-style  font-style font-style stroke-color font-color'
		'upload upload upload upload upload'
		'share share share share share';
	gap: 10px;
	margin-bottom: 80px;
}

.meme-controls select {
	width: 100%;
	height: 53px;
	text-align: center;
	border-radius: 10px;
	/* font-size: 30px; */
	text-transform: capitalize;
}

.flash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	background-color: cornflowerblue;
	color: white;
	position: fixed;
	transition: 0.5s;
	text-align: center;
	height: 10rem;
	width: 10rem;
	top: -25%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.flash.open {
	font-size: 1.5rem;
	border-radius: 15px;
	opacity: 0.8;
	top: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.meme-editor button .open-share-modal-btn {
	margin-bottom: 30px;
}

.text-input {
	height: 5rem;
	font-size: 1.2rem;
}

.download-btn a {
	width: inherit;
	height: inherit;
}

/* Grid Areas */
.text-input {
	grid-area: text;
}
.arrow-up-btn {
	grid-area: arrow-up;
}
.arrow-down-btn {
	grid-area: arrow-down;
}

.switch-btn {
	grid-area: switch;
}

.add-line-btn {
	grid-area: add-line;
}

.delete-btn {
	grid-area: delete-btn;
}

.inc-font-btn {
	grid-area: font-up;
}
.dec-font-btn {
	grid-area: font-down;
}

.align-left-btn {
	grid-area: align-left;
}
.align-center-btn {
	grid-area: align-center;
}
.align-right-btn {
	grid-area: align-right;
}
#font {
	grid-area: font-style;
}
.text-stroke-btn {
	grid-area: stroke-color;
}

.brush-btn {
	grid-area: font-color;
}
.upload-btn {
	grid-area: upload;
}
.open-share-modal-btn {
	grid-area: share;
}

.save-btn {
	grid-area: save;
}

.download-btn {
	grid-area: download;
}

/* Footer */

.about {
	height: 120px;
	background-color: white;
}

.footer {
	/* margin-top: 10px; */
	bottom: 0;
	height: 10vh;
	margin-top: 20vh;
	background-color: cornflowerblue;
}

.footer-container {
	justify-content: space-between;
	height: 10vh;
	align-items: center;
}

.footer .logo {
	padding-left: 5px;
	display: flex;
	align-items: center;
}

.footer-text {
	color: #ffff;
	font-size: 1.5rem;
	flex-direction: column;
	flex-wrap: wrap;
	width: 12rem;
	justify-content: flex-end;
	margin: 0;
	align-items: flex-end;
	text-align: center;
	cursor: pointer;
}

/* Modal */

.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 5;
	top: 55%;
	left: 20%;
	height: 7em;
	width: 5em;
	border-radius: 25%;
	background-color: rgb(64, 131, 255);
	color: whitesmoke;
	text-align: center;
	font-size: 2rem;
}

.modal button {
	width: 80px;
	height: 4em;
	border-radius: 2em;
	background-color: rgb(49, 184, 241);
	color: whitesmoke;
	outline-style: none;
}
.modal button:focus-visible {
	outline-style: none;
}
.modal img {
	max-height: 150px;
	border-radius: 50%;
	margin: 0;
}
.about-modal {
	font-size: 1.2rem;
	width: 250px;
	height: 250px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 10px;
}

/* Helpers */

.main-layout {
	margin-inline: auto;
	max-width: 400px;
	min-width: 350px;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.hide {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: -150%;
}

.column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}

.text-box-sizer {
	font-family: impact;
}

/* SCREENS */

/* Menu Screen */
.main-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.35);
	cursor: pointer;
	opacity: 0;
	pointer-events: none;

	transition: opacity 0.6s;
}

body.menu-open .main-screen {
	pointer-events: auto;
	opacity: 1;
}

/* Modal Screen */

.modal-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.35);
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s;
}

body.modal-open .modal-screen {
	pointer-events: auto;
	opacity: 1;
}

/* Hover Effects */
img:hover {
	cursor: pointer;
}

.main-header .logo:hover {
	opacity: 0.8;
	box-shadow: 0px 0px 12px whitesmoke;
	cursor: pointer;
}

nav li:hover {
	cursor: pointer;
	box-shadow: inset 0px -6px 0px rgba(181, 243, 230, 0.726);
}

.search-bar span:hover {
	cursor: pointer;
	font-size: 1.75rem;
	font-weight: 700;
	box-shadow: inset 0px -1px 0px rgb(0, 195, 255);
}

.upload-meme-label:hover {
	cursor: pointer;
	font-size: 1.75rem;
	font-weight: 700;
	box-shadow: inset 0px -1px 0px rgb(0, 195, 255);
}

.img-gallery img:hover {
	max-height: 180px;
	opacity: 0.9;
	box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.modal button {
	cursor: pointer;
}

/* BREAKPOINTS */

/* Mobile Only- Hamburger */
@media (max-width: 800px) {
	header {
		height: 8vh;
	}
	.main-header img {
		padding-top: 2vh;
		align-self: flex-start;
	}
	.nav-items {
		z-index: 1;
		position: absolute;
		flex-direction: column;
		align-items: center;
		background-color: cornflowerblue;
		top: 6vh;
		right: 0;
		width: 100%;
		transform: translateX(-100%);
	}
	body.menu-open .nav-items {
		box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
		transform: translateX(0%);
	}
	.btn-menu {
		width: 30px;
		height: 30px;
		margin-top: 1.3vh;
		margin-right: 20px;
	}
	nav li {
		display: flex;
		border-bottom: 1px solid #e1e0e0;
		padding: 6px 5px;
		width: 100%;
		height: 25%;
		align-self: center;
		transition: background-color 0.3s;
		font-size: 20px;
	}
	nav li:hover {
		background-color: rgba(238, 238, 238, 0.356);
		box-shadow: none;
	}
	.canvas-container {
		margin-top: 25vh;
		width: 350px;
		height: 350px;
		margin-bottom: 30px;
	}
}

/* Desktop */

@media (min-width: 800px) {
	html {
		font-size: 16px;
	}
	header {
		height: 10vh;
	}
	.main-layout {
		max-width: 1175px;
		margin-inline: auto;
	}
	.img-gallery {
		/* margin-top: 20px; */
		/* margin-bottom: 20px; */
		/* padding-left: 15px; */
		min-height: 100%;
		height: 70vh;
		grid-template:
			repeat(auto-fill, 185px)
			/ repeat(auto-fill, 185px);
	}
	.search-bar {
		flex-direction: row;
		height: 10vh;
		justify-content: space-between;
		align-items: center;
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.btn-menu {
		display: none;
	}
	.search-bar span:hover {
		cursor: pointer;
		font-weight: 700;
		box-shadow: inset 0px -1px 0px rgb(0, 195, 255);
	}
	canvas {
		padding-right: 35px;
	}
	.meme-editor {
		width: 1500px;
		height: 80vh;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-bottom: 0;
	}
	.meme-controls {
		margin-top: 20px;
		width: 400px;
		max-height: 550px;
		height: 550px;
		display: grid;
		grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'text text text text text '
			'arrow-up arrow-down switch add-line delete-btn'
			'font-up font-down align-left align-center align-right '
			'font-style  font-style font-style stroke-color font-color'
			'upload upload upload upload upload'
			'share share share share share';
		gap: 10px;
		/* width: 45%; */
		/* margin-inline: auto; */
		padding-inline: 25px;
		margin-bottom: 0;
	}
	.canvas-container {
		/* max-width: 400px; */
		height: 530px;
		width: 530px;
		max-width: 530px;
		min-height: 530px;
		margin-top: 0;
	}
	canvas {
		padding: 0;
	}
	.meme-editor img {
		/* filter: grayscale(1); */
		object-fit: contain;
		height: 35px;
		width: 35px;
	}
	.meme-editor button {
		min-height: 53px;
		min-width: 52px;
		max-height: 53px;
		margin-bottom: 1px;
	}
	.meme-editor .download-btn {
		max-width: unset;
	}
	.meme-editor .sticker-btn {
		max-width: unset;
		max-height: unset;
	}
	footer {
		margin-top: 0;
		bottom: 0;
		height: 10vh;
	}
	.footer-container {
		height: 10vh;
		align-items: center;
	}
	.footer-text {
		width: 14rem;
		font-size: 1.5rem;
	}
	.modal {
		top: 40%;
		left: 55%;
	}
	.about-modal {
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
		width: 400px;
		height: 400px;
	}
	.modal img {
		max-height: 250px;
	}
	.keywords {
		font-size: 1.5rem;
	}
	.upload-meme-label {
		font-size: 1.5rem;
	}

	.user {
		font-size: 1.5rem;
	}
	nav li:last-child {
		border-right: 2px dashed whitesmoke;
		margin-right: 10px;
	}
}
